.option-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 1px solid rgb(44, 72, 73);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 1.2rem 0 rgba(44, 72, 73, 0.50);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    color: rgb(22, 37, 37);
    background-color: rgba(255, 244, 158, 0.285);
    border-radius: 5px;
    border: 1px solid rgb(44, 72, 73);
}

.option-prefix {
    padding: 1.25rem 2rem;
    background-color: rgb(42, 130, 133);
    color: white;
    width: 5rem;
}

.option-text {
    padding: 1.25rem 2rem;
    height: 100%;
    width: 100%;
    background-color: rgba(12, 128, 132, 0.266);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

p {
    /* need to override bootstrap */
    margin-top: 0!important;
    margin-bottom: 0!important;
    border-top-left-radius: 4.48px;
    border-bottom-left-radius: 4.48px;
}

#hud {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

.correct {
    background: unset;
    background: rgba(98, 196, 0, 0.207);
}

.incorrect {
    background: unset;
    background: rgba(178, 34, 34, 0.386);
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.5px solid rgb(44, 72, 73);
    border-radius: 5px;
}

#progressFullBar {
    width: 0%;
    height: 3.8rem;
    border-radius: 5px;
    background-color: rgba(12, 128, 132, 0.537);
    margin: 0;
}

#quiz-wrapper {
    background: rgba(255, 255, 255, 0.368);
    border-radius: 25px;
    border: 0.5px solid rgb(138, 138, 138);
    padding: 2rem;
}

#question {
    padding: 2rem 0;
}