/* Reduce font size overall */

html {
    height: 100%;
    background: rgba(253, 187, 45, 0.5);
    background: -moz-linear-gradient(45deg, rgba(253, 187, 45, 0.5) 0%, rgba(34, 193, 195, 0.5) 8%, rgba(214, 218, 175, 0.5) 24%, rgba(214, 218, 175, 0.5) 71%, rgba(34, 193, 195, 0.5) 92%, rgba(253, 187, 45, 0.5) 100%);
    background: -webkit-linear-gradient(45deg, rgba(253, 187, 45, 0.5) 0%, rgba(34, 193, 195, 0.5) 8%, rgba(214, 218, 175, 0.5) 24%, rgba(214, 218, 175, 0.5) 71%, rgba(34, 193, 195, 0.5) 92%, rgba(253, 187, 45, 0.5) 100%);
    background: linear-gradient(45deg, rgba(253, 187, 45, 0.5) 0%, rgba(34, 193, 195, 0.5) 8%, rgba(214, 218, 175, 0.5) 24%, rgba(214, 218, 175, 0.5) 71%, rgba(34, 193, 195, 0.5) 92%, rgba(253, 187, 45, 0.5) 100%);filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#fdbb2d", endColorstr="#fdbb2d", GradientType=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

:root {
    font-size: 62.5%;
}

body {
    background: unset!important;
}

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}


/* Set body background to a gradient based on emotionally relaxing colourscheme, 
with transparency to prevent user distraction from quiz */


/* Default style settings */

h1,
h2,
h3,
h4 {
    margin-bottom: 0;
}

h1 {
    font-size: 4rem;
    color: rgb(0, 75, 78);
    margin-bottom: 3.5rem;
    text-align: center;
}

h1>span {
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}


/* Alternative Formatting for Headings based on function */

h1.bigtitle {
    font-size: 5rem;
    color: darkgoldenrod;
}

h2.your-score {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
    align-items: center;
}

h3.intro-text {
    font-size: 3rem;
    color: darkgoldenrod;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3rem!important;
    padding-bottom: 2rem!important;
    text-align: center;
    padding-top: 5rem;
}

.h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 2rem;
}


/* Style Interactive Elements on Page */

.button {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: rgb(236, 236, 236);
    background: rgb(11, 76, 79);
    width: 30rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(44, 72, 73);
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 1.2rem 0 rgba(44, 72, 73, 0.50);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    color: rgb(14, 63, 65);
    background: rgb(226, 226, 226);
    border: 1px solid rgb(44, 72, 73);
    border-radius: 5px;
}

.button[disabled],
.button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

a.link {
    text-decoration: none;
    color: rgb(11, 76, 79);
    margin-top: 2px;
    height: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 600;
}

a.link:hover {
    text-decoration: none;
    color: rgb(6, 62, 64);
    margin-top: 2px;
    height: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 600;
}

.quiz-button {
    margin-top: 20px;
}


/* logo */

div.logo {
    text-align: right;
    width: 100%;
    padding: 25px;
}

.logo img {
    max-width: 100px;
}

div.quiz-logo {
    text-align: center;
    padding: 20px 5px 5px 5px;
    height: 100px;
}

.quiz-logo img {
    max-width: 100px;
    padding: 20px;
}


/*  Centering the page */

div.container {
    clear: both;
    width: 100vw;
    height: calc(100%-100px);
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2rem;
    background: unset;
}

.text-center {
    text-align: center;
}

.centered-blocktext {
    justify-content: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    /* Change flow of text to vertical column */
    display: flex;
    flex-direction: column;
}

.middlepage {
    margin: 2vh 7.5vw;
}

.hide {
    display: none;
}

input.username {
    width: 28rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    align-items: center;
}

.form-center {
    text-align: center;
    justify-content: center;
}

.finalscore {
    font-size: 3rem;
}

p.intro {
    font-size: 1.5rem;
    padding: 2%;
    text-align: justify;
}

#form_removeScore {
    padding: 3rem 1rem;
}

.query-text {
    padding: 2%;
}

.warning {
    font-size: 1.25rem;
    color: red;
    font-weight: 600;
    padding-top: 2rem;
}

footer {
    clear: both;
    height: 30px;
    padding: 5px 0 0 0;
    color: #335c68;
    font-weight: 300;
    font-size: 1.2rem;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}


/*==============================================================*/


/* MEDIA QUERIES for mobile devices  */


/*==============================================================*/

@media screen and (max-height: 670px) {
    /* Default style settings */
    html {
        height: 110%;
    }
    div.logo {
        text-align: center;
        height: 80px;
        width: 100%;
        padding: 7px;
        margin: 0;
    }
    h2,
    h3,
    h4 {
        margin-bottom: 0;
    }
    h1 {
        font-size: 2.3rem;
        color: rgb(0, 75, 78);
        margin-bottom: 2rem;
        text-align: center;
        padding-top: 1rem!important;
    }
    h1>span {
        font-size: 1.8rem;
        font-weight: 600;
    }
    h2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.8rem;
    }
    h3 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    /* Alternative Formatting for Headings based on function */
    h1.bigtitle {
        font-size: 3rem;
        color: darkgoldenrod;
    }
    h2.your-score {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 3rem;
        text-align: center;
        align-items: center;
    }
    h3.intro-text {
        font-size: 1.8rem;
        color: darkgoldenrod;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .h1 {
        font-size: 2.2rem;
        font-weight: 500;
        margin-bottom: 1.5rem!important;
        padding-bottom: 1.5rem!important;
        text-align: center;
        padding-top: 2rem;
    }
    .h2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        text-align: center;
        padding-top: 1.5rem;
    }
    /* Style Interactive Elements on Page */
    .button {
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
        color: rgb(236, 236, 236);
        background: rgb(11, 76, 79);
        width: 25rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid rgb(44, 72, 73);
        border-radius: 5px;
    }
    .button:hover {
        cursor: pointer;
        box-shadow: 0 0.2rem 1.2rem 0 rgba(44, 72, 73, 0.50);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
        color: rgb(14, 63, 65);
        background: rgb(226, 226, 226);
        border: 1px solid rgb(44, 72, 73);
        border-radius: 5px;
    }
    .button[disabled],
    .button[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
    }
    .quiz-button {
        margin: 30px 5px 5px 5px;
    }
    div.container {
        clear: both;
        width: 100vw;
        height: calc(100%-100px);
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5rem;
        background: unset;
    }
    /* Hide footer in mobile browsers  */
    footer {
        display: none;
        visibility: hidden;
        transform: scale(0);
    }
}

@media screen and (max-width: 500px) {
    html {
        height: 180%;
    }
    div.logo {
        text-align: center;
        height: 80px;
        width: 100%;
        padding: 7px;
        margin: 0;
    }
    div.quiz-logo {
        text-align: center;
        height: 80px;
        width: 100%;
        margin: 0;
    }
    .quiz-logo img {
        max-height: 80px;
    }
    a.link {
        text-decoration: none;
        color: rgb(11, 76, 79);
        margin-top: 2px;
        height: 25px;
        padding-bottom: 0;
        margin-bottom: 0;
        font-weight: 600;
    }
    a.link:hover {
        text-decoration: none;
        color: rgb(6, 62, 64);
        margin-top: 2px;
        height: 25px;
        padding-bottom: 0;
        margin-bottom: 0;
        font-weight: 600;
    }
    footer {
        clear: both;
        height: 30px;
        padding: 5px 0 0 0;
        color: #335c68;
        font-weight: 300;
        font-size: 0.9rem;
        width: 100%;
        left: 0;
        position: absolute;
        bottom: 0;
        display: block;
        text-align: center;
        overflow: hidden;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 400px) {
    /* Default style settings */
    html {
        height: 250%;
    }
    div.logo {
        text-align: center;
        height: 80px;
        width: 100%;
        padding: 7px;
        margin: 0;
    }
    div.quiz-logo {
        text-align: center;
        height: 80px;
        width: 100%;
        margin: 0;
    }
    h2,
    h3,
    h4 {
        margin-bottom: 0;
    }
    h1 {
        font-size: 2.3rem;
        color: rgb(0, 75, 78);
        margin-bottom: 2rem;
        text-align: center;
        padding-top: 1rem!important;
    }
    h1>span {
        font-size: 1.8rem;
        font-weight: 600;
    }
    h2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.8rem;
    }
    h3 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    /* Alternative Formatting for Headings based on function */
    h1.bigtitle {
        font-size: 3rem;
        color: darkgoldenrod;
    }
    h2.your-score {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 3rem;
        text-align: center;
        align-items: center;
    }
    h3.intro-text {
        font-size: 1.8rem;
        color: darkgoldenrod;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .h1 {
        font-size: 2.2rem;
        font-weight: 500;
        margin-bottom: 1.5rem!important;
        padding-bottom: 1.5rem!important;
        text-align: center;
        padding-top: 2rem;
    }
    .h2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        text-align: center;
        padding-top: 1.5rem;
    }
    /* Style Interactive Elements on Page */
    .button {
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
        color: rgb(236, 236, 236);
        background: rgb(11, 76, 79);
        width: 25rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid rgb(44, 72, 73);
        border-radius: 5px;
    }
    .button:hover {
        cursor: pointer;
        box-shadow: 0 0.2rem 1.2rem 0 rgba(44, 72, 73, 0.50);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
        color: rgb(14, 63, 65);
        background: rgb(226, 226, 226);
        border: 1px solid rgb(44, 72, 73);
        border-radius: 5px;
    }
    .button[disabled],
    .button[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
    }
    a.quiz-button {
        margin: 10px 5px 5px 5px;
    }
    div.container {
        clear: both;
        width: 100vw;
        height: calc(100%-100px);
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.5rem;
        background: unset;
    }
    /* Hide footer in mobile browsers  */
    footer {
        display: none;
        visibility: hidden;
        transform: scale(0);
    }
}

@media screen and (max-width: 250px) {
    /* Default style settings */
    html {
        height: 200%;
    }
    div.logo {
        text-align: center;
        height: 80px;
        width: 100%;
        padding: 5px;
        margin: 0;
    }
    div.quiz-logo {
        text-align: center;
        height: 80px;
        width: 100%;
        padding: 7px;
        margin: 0;
    }
    h1,
    h2,
    h3,
    h4 {
        margin-bottom: 0;
    }
    h1 {
        font-size: 2.3rem;
        color: rgb(0, 75, 78);
        margin-bottom: 2rem;
        text-align: center;
    }
    h1>span {
        font-size: 1.8rem;
        font-weight: 600;
    }
    h2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1.8rem;
    }
    h3 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    /* Alternative Formatting for Headings based on function */
    h1.bigtitle {
        font-size: 2.3rem;
        color: darkgoldenrod;
    }
    h2.your-score {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 3rem;
        text-align: center;
        align-items: center;
    }
    h3.intro-text {
        font-size: 1.8rem;
        color: darkgoldenrod;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .h1 {
        font-size: 2.1rem;
        font-weight: 500;
        margin-bottom: 1.5rem!important;
        padding-bottom: 1.5rem!important;
        text-align: center;
        padding-top: 1rem;
    }
    .h2 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        text-align: center;
        padding-top: 1.5rem;
    }
    /* Style Interactive Elements on Page */
    .button {
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
        color: rgb(236, 236, 236);
        background: rgb(11, 76, 79);
        width: 20rem;
        padding: 0.9rem;
        margin-bottom: 0.5rem;
        border: 1px solid rgb(44, 72, 73);
        border-radius: 5px;
    }
    .button:hover {
        cursor: pointer;
        box-shadow: 0 0.2rem 1.2rem 0 rgba(44, 72, 73, 0.50);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
        color: rgb(14, 63, 65);
        background: rgb(226, 226, 226);
        border: 1px solid rgb(44, 72, 73);
        border-radius: 5px;
    }
    .button[disabled],
    .button[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
    }
    a.quiz-button {
        margin: 10px 5px 5px 5px;
    }
    /* Hide footer in mobile browsers  */
    footer {
        display: none;
        visibility: hidden;
        transform: scale(0);
    }
}
