#listTopScores {
    margin-bottom: 3rem;
    padding: 2rem;
    list-style: none;
}

.topscore {
    font-size: 2rem;
    color: rgb(87, 0, 0);
    text-align: center;
}

.topscore:hover {
    transform: scaleX(1.25);
    color: firebrick;
}

.fullwidth {
    display: block;
    top: 5px;
    position: absolute;
    width: 100%;
}

.topscorelist-centered {
    text-align: center;
}

#topscores-hud {
    padding: 2rem;
}

.score-wrapper {
    background: rgba(255, 255, 255, 0.368);
    border-radius: 25px;
}

ul.allplayers {
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}