#listTopScores {
    margin-bottom: 3rem;
    padding: 2rem;
    list-style: none;
}

.topscore {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: rgb(87, 0, 0);
    text-align: center;
}

.topscore:hover {
    transform: scaleX(1.25);
    color: firebrick;
}

.fullwidth {
    display: block;
    top: 5px;
    position: absolute;
    width: 100%;
}

div.topscorelist-centered {
    text-align: center;
}

#topscores-hud {
    padding: 2rem;
}